In [1]:
import pandas as pd
from pandas import read_excel

file_name = 'target_data.xlsx' 
target_data = read_excel(file_name)
target_data = target_data.fillna(0)

/home/syanakieva/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
feature_cols = list(target_data.columns[1:-6])

X_all = target_data[feature_cols]

In [3]:
from sklearn.ensemble import RandomForestClassifier
import pickle

clmodel = pickle.load(open('clmodel.pkl', 'rb'))

prediction = clmodel.predict(X_all)
sales_cols = list(target_data.columns[:-6])
result = target_data[sales_cols]
result["cl_sales_prediction"] = prediction
result = result[result.cl_sales_prediction == 1]
print(result.shape[0])
print(result[:1000])
result.to_excel("cl_sales_prediction.xlsx", index=False)

356
      Client  Sex  Age  Tenure  Count_CA  Count_SA  Count_MF  Count_OVD  \
3          4  0.0   24     153         1       1.0       0.0        0.0
21        22  0.0   54       0         1       0.0       0.0        0.0
22        23  0.0    4     160         1       2.0       4.0        1.0
32        33  0.0   71     150         1       0.0       0.0        0.0
40        41  0.0   20     198         1       0.0       0.0        1.0
...      ...  ...  ...     ...       ...       ...       ...        ...
1591    1592  1.0   70      73         3       0.0       0.0        0.0
1594    1595  0.0   11      53         1       0.0       0.0        0.0
1595    1596  0.0   49      78         1       1.0       0.0        0.0
1596    1597  0.0   19     181         1       0.0       0.0        1.0
1599    1600  1.0   44     200         1       1.0       0.0        1.0

      Count_CC  Count_CL  ...  VolumeDeb_CA  VolumeDebCash_Card  \
3          1.0       0.0  ...   3598.950357          714.285714
21         0.0       0.0  ...   3587.078214         1392.682143
22         0.0       0.0  ...    945.715000          107.142857
32         0.0       0.0  ...    635.842857          139.285714
40         0.0       0.0  ...    948.910714          310.714286
...        ...       ...  ...           ...                 ...
1591       0.0       0.0  ...      4.107143            0.000000
1594       1.0       0.0  ...   2055.042857            0.000000
1595       0.0       0.0  ...      1.964286            0.000000
1596       0.0       0.0  ...   1031.736786          225.000000
1599       0.0       0.0  ...   1610.471429          464.285714

      VolumeDebCashless_Card  VolumeDeb_PaymentOrder  TransactionsDeb  \
3                 526.037500             1963.165357             41.0
21                466.840000             1273.107143             29.0
22                529.379286              309.192857             33.0
32                 56.735714              436.428571             13.0
40                523.910714              107.142857             18.0
...                      ...                     ...              ...
1591                0.000000                0.000000              1.0
1594                0.000000             1803.571429             12.0
1595                0.000000                0.000000              1.0
1596              220.058571               85.036786             23.0
1599              142.982857               71.428571             14.0

      TransactionsDeb_CA  TransactionsDebCash_Card  \
3                   36.0                       6.0
21                  29.0                       4.0
22                  33.0                       1.0
32                  13.0                       2.0
40                  18.0                       6.0
...                  ...                       ...
1591                 1.0                       0.0
1594                 5.0                       0.0
1595                 1.0                       0.0
1596                17.0                       3.0
1599                11.0                       2.0

      TransactionsDebCashless_Card  TransactionsDeb_PaymentOrder  \
3                             12.0                          13.0
21                            12.0                           9.0
22                            26.0                           6.0
32                             4.0                           6.0
40                             7.0                           1.0
...                            ...                           ...
1591                           0.0                           0.0
1594                           0.0                           2.0
1595                           0.0                           0.0
1596                           6.0                           4.0
1599                           2.0                           1.0

      cl_sales_prediction
3                       1
21                      1
22                      1
32                      1
40                      1
...                   ...
1591                    1
1594                    1
1595                    1
1596                    1
1599                    1

[356 rows x 31 columns]

/home/syanakieva/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [4]:
result

,Client,Sex,Age,Tenure,Count_CA,Count_SA,Count_MF,Count_OVD,Count_CC,Count_CL,...,VolumeDeb_CA,VolumeDebCash_Card,VolumeDebCashless_Card,VolumeDeb_PaymentOrder,TransactionsDeb,TransactionsDeb_CA,TransactionsDebCash_Card,TransactionsDebCashless_Card,TransactionsDeb_PaymentOrder,cl_sales_prediction
3,4,0.0,24,153,1,1.0,0.0,0.0,1.0,0.0,...,3598.950357,714.285714,526.037500,1963.165357,41.0,36.0,6.0,12.0,13.0,1
21,22,0.0,54,0,1,0.0,0.0,0.0,0.0,0.0,...,3587.078214,1392.682143,466.840000,1273.107143,29.0,29.0,4.0,12.0,9.0,1
22,23,0.0,4,160,1,2.0,4.0,1.0,0.0,0.0,...,945.715000,107.142857,529.379286,309.192857,33.0,33.0,1.0,26.0,6.0,1
32,33,0.0,71,150,1,0.0,0.0,0.0,0.0,0.0,...,635.842857,139.285714,56.735714,436.428571,13.0,13.0,2.0,4.0,6.0,1
40,41,0.0,20,198,1,0.0,0.0,1.0,0.0,0.0,...,948.910714,310.714286,523.910714,107.142857,18.0,18.0,6.0,7.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1591,1592,1.0,70,73,3,0.0,0.0,0.0,0.0,0.0,...,4.107143,0.000000,0.000000,0.000000,1.0,1.0,0.0,0.0,0.0,1
1594,1595,0.0,11,53,1,0.0,0.0,0.0,1.0,0.0,...,2055.042857,0.000000,0.000000,1803.571429,12.0,5.0,0.0,0.0,2.0,1
1595,1596,0.0,49,78,1,1.0,0.0,0.0,0.0,0.0,...,1.964286,0.000000,0.000000,0.000000,1.0,1.0,0.0,0.0,0.0,1
1596,1597,0.0,19,181,1,0.0,0.0,1.0,0.0,0.0,...,1031.736786,225.000000,220.058571,85.036786,23.0,17.0,3.0,6.0,4.0,1
1599,1600,1.0,44,200,1,1.0,0.0,1.0,0.0,0.0,...,1610.471429,464.285714,142.982857,71.428571,14.0,11.0,2.0,2.0,1.0,1