In [5]:
import pandas as pd
from pandas import read_excel

file_name = 'mf_sales_prediction.xlsx' 
target_data = read_excel(file_name)
target_data = target_data.fillna(0)

In [6]:
feature_cols = list(target_data.columns[1:-1])

X_all = target_data[feature_cols]
print(X_all)

     Sex  Age  Tenure  Count_CA  Count_SA  Count_MF  Count_OVD  Count_CC  \
0      1   51       7         1         0         0          1         0
1      0   62     181         1         0         0          1         0
2      1   48     104         1         1         3          1         1
3      1   49     263         1         1         2          0         0
4      0   23       4         1         0        12          0         0
..   ...  ...     ...       ...       ...       ...        ...       ...
202    1   29     175         1         0         0          1         0
203    1    3     152         1         3        32          0         0
204    0   39     211         1         0         0          0         0
205    1   28     221         1         0         0          0         0
206    0   46      45         1         0         0          0         0

     Count_CL     ActBal_CA  ...    VolumeDeb  VolumeDeb_CA  \
0           0   1333.802857  ...  1891.353214   1335.619643
1           0   1649.980000  ...   425.000000     67.857143
2           0    188.608571  ...  8458.406429   7683.438214
3           0     60.997857  ...     0.000000      0.000000
4           0    875.371429  ...   546.642857    546.642857
..        ...           ...  ...          ...           ...
202         0     45.097857  ...   701.659643    506.002857
203         0  14341.997857  ...   596.742857    596.742857
204         0  23635.800000  ...     2.678571      2.678571
205         0    816.056429  ...     0.000000      0.000000
206         0    676.008571  ...  1283.518929   1283.518929

     VolumeDebCash_Card  VolumeDebCashless_Card  VolumeDeb_PaymentOrder  \
0            250.000000              283.089286              247.607143
1              0.000000                0.000000                0.000000
2           1107.142857              844.575357             5775.094286
3              0.000000                0.000000                0.000000
4            178.571429               68.535714              296.071429
..                  ...                     ...                     ...
202          139.285714              122.081786               83.928571
203            0.000000              422.350000              171.000000
204            0.000000                0.000000                0.000000
205            0.000000                0.000000                0.000000
206          142.857143              144.022500              353.000000

     TransactionsDeb  TransactionsDeb_CA  TransactionsDebCash_Card  \
0                 50                  30                         3
1                  2                   1                         0
2                 54                  19                         6
3                  0                   0                         0
4                  9                   9                         1
..               ...                 ...                       ...
202               41                  27                         6
203               20                  20                         0
204                2                   2                         0
205                0                   0                         0
206               25                  25                         2

     TransactionsDebCashless_Card  TransactionsDeb_PaymentOrder
0                              12                             9
1                               0                             0
2                              33                            11
3                               0                             0
4                               1                             6
..                            ...                           ...
202                            14                             1
203                            13                             6
204                             0                             0
205                             0                             0
206                            12                             8

[207 rows x 29 columns]

In [7]:
from sklearn.svm import SVR
import pickle

clmodel = pickle.load(open('mfRegressionmodel.pkl', 'rb'))

prediction = clmodel.predict(X_all)
result = target_data.copy()
result["mf_revenue_prediction"] = prediction
result=result[["Client", "mf_revenue_prediction"]]
print(result.shape[0])
print(result[:1000])
result = result.sort_values("mf_revenue_prediction", ascending=False)
result.to_excel("mf_revenue_prediction.xlsx", index=False)

207
     Client  mf_revenue_prediction
0         1               3.063257
1        27               3.177270
2        34               3.405843
3        36               3.085833
4        42               3.046216
..      ...                    ...
202    1564               3.036735
203    1569               2.980433
204    1571               3.400248
205    1585               3.039522
206    1613               3.054532

[207 rows x 2 columns]

In [8]:
result

     Client  mf_revenue_prediction
74      643               4.290136
168    1329               4.144451
18      143               3.665828
194    1496               3.592315
178    1408               3.568817
..      ...                    ...
60      544               2.784634
40      389               2.579869
181    1413               2.280040
92      775               2.271830
200    1549               2.236344

[207 rows x 2 columns]